<section class="banner-wrapper welcome-back">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-12">
        <div class="text-center text-white welcome-back-text">
          <h1 class="fw-bold">Welcome back, John!</h1>

          <p class="fw-semi-bold">
            Here’s what you’ve missed out on while you were gone:
          </p>
        </div>
      </div>
      <div class="col-md-12">
        <div class="position-relative video-wrapper">
          <img src="../../../assets/images/pages/banner_image.png" class="img-fluid large-banner" />
          <button class="play-btn btn-icon">
            <img src="../../../assets/images/HomePage/play.svg" />
          </button>
          <img src="../../../assets/images/HomePage/logo_white.svg" class="v-logo" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="our-partner activity-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center flex-wrap mb-md-5 mb-4 pb-lg-2">
          <div class="d-flex align-items-center flex-wrap">
            <h2 class="title me-md-4 me-2">Activity</h2>
            <p class="mb-sm-0 text-gray">
              Have a closer look on how people are enaging with your content!
            </p>
          </div>

          <button class="btn btn-outline-secondary">
            <img src="../../../assets/images/pages/bell.svg" class="me-2" />
            View All Activities
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <owl-carousel-o [options]="activityOptions">
          <ng-template carouselSlide>
            <div class="marketplace-box me-3 activities">
              <div class="d-flex">
                <div>
                  <img src="../../../assets/images/pages/activity_one.png" class="activity-img" />
                </div>
                <div class="d-flex align-items-center act-content">
                  <div class="activity-user">
                    <img src="../../../assets/images/pages/user.png" class="img-fluid w-auto" />
                  </div>
                  <div class="ms-2">
                    <p class="mb-0 text-gray fs-12">
                      <b class="text-black">JohnDoe</b> liked your NFT
                    </p>
                    <p class="mb-0 text-gray fs-12">5 minutes ago</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="marketplace-box me-3 activities">
              <div class="d-flex">
                <div>
                  <img src="../../../assets/images/pages/activity_two.png" class="activity-img" />
                </div>
                <div class="d-flex act-content">
                  <div class="activity-user">
                    <img src="../../../assets/images/pages/user.png" class="img-fluid w-auto" />
                  </div>
                  <div class="ms-2">
                    <p class="mb-0 text-gray fs-12">
                      <b class="text-black">JohnDoe</b> commented on your NFT
                    </p>
                    <p class="mb-2 text-gray fs-12">5 minutes ago</p>
                    <p class="mb-0 text-truncate-3 fs-12">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                      sed do eiusmod tempor incididunt ut...
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="marketplace-box me-3 activities">
              <div class="d-flex flex-column">
                <div>
                  <img src="../../../assets/images/pages/activity_three.png" class="activity-v-img" />
                </div>
                <div class="d-flex align-items-center flex-column text-center act-view-3">
                  <div class="activity-user mb-2">
                    <img src="../../../assets/images/pages/user.png" class="img-fluid w-auto" />
                  </div>
                  <div class="ms-2">
                    <p class="mb-0 text-gray fs-12">
                      <b class="text-black">JohnDoe</b> liked your NFT
                    </p>
                    <p class="mb-0 text-gray fs-12">5 minutes ago</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="marketplace-box me-3 activities">
              <div class="d-flex">
                <div>
                  <img src="../../../assets/images/pages/activity_one.png" class="activity-img" />
                </div>
                <div class="d-flex align-items-center act-content">
                  <div class="activity-user">
                    <img src="../../../assets/images/pages/user.png" class="img-fluid w-auto" />
                  </div>
                  <div class="ms-2">
                    <p class="mb-0 text-gray fs-12">
                      <b class="text-black">JohnDoe</b> liked your NFT
                    </p>
                    <p class="mb-0 text-gray fs-12">5 minutes ago</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="marketplace-box me-3 activities">
              <div class="d-flex">
                <div>
                  <img src="../../../assets/images/pages/activity_one.png" class="activity-img" />
                </div>
                <div class="d-flex align-items-center act-content">
                  <div class="activity-user">
                    <img src="../../../assets/images/pages/user.png" class="img-fluid w-auto" />
                  </div>
                  <div class="ms-2">
                    <p class="mb-0 text-gray fs-12">
                      <b class="text-black">JohnDoe</b> liked your NFT
                    </p>
                    <p class="mb-0 text-gray fs-12">5 minutes ago</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="marketplace-box me-3 activities">
              <div class="d-flex">
                <div>
                  <img src="../../../assets/images/pages/activity_one.png" class="activity-img" />
                </div>
                <div class="d-flex align-items-center act-content">
                  <div class="activity-user">
                    <img src="../../../assets/images/pages/user.png" class="img-fluid w-auto" />
                  </div>
                  <div class="ms-2">
                    <p class="mb-0 text-gray fs-12">
                      <b class="text-black">JohnDoe</b> liked your NFT
                    </p>
                    <p class="mb-0 text-gray fs-12">5 minutes ago</p>
                  </div>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="our-partner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-5 flex-wrap">
          <div class="d-flex align-items-center">
            <h2 class="title">News Feed</h2>
            <p class="mb-0 text-gray ms-4">
              Find out what the people you follow are up to!
            </p>
          </div>

          <button class="btn btn-outline-secondary m-1">
            <img src="../../../assets/images/pages/news_feed.svg" class="me-2" />
            Open News Feed
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <owl-carousel-o [options]="partnersOptions">
          <ng-template carouselSlide>
            <a href="/newsfeed">
              <div class="marketplace-box me-3 news-feed">
                <div class="top-header d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div>
                      <img src="../../../assets/images/pages/user.png" class="user me-2" />
                    </div>
                    <div>
                      <p class="mb-0"><b>JohnDoe</b> posted an NFT</p>
                      <p class="mb-0">5 minutes ago</p>
                    </div>
                  </div>
                  <div class="dropdown marketplace-dropdown">
                    <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="../../../assets/images/HomePage/three_dots.svg" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                      <li>
                        <button class="dropdown-item" type="button">
                          Report
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="position-relative">
                  <img src="../../../assets/images/pages/news_feed_one.png" class="marketplace-img" />
                </div>
                <div class="marketplace-content">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="text-gray mb-0">Collection Name</p>
                  </div>
                  <p class="fw-bold mb-2 text-nft-name">
                    NFT Name Goes Here Even If It's Long #0001
                  </p>
                  <p class="text-gray text-truncate-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0 fw-semi-bold d-flex align-items-center">
                      <img src="../../../assets/images/pages/favorite_border_dark.svg"
                        class="me-2 img-fluid w-auto" />0.22 66 Likes
                    </p>
                    <p class="mb-0 fw-semi-bold">12 Comments</p>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="/newsfeed">
              <div class="marketplace-box me-3 news-feed">
                <div class="top-header d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div>
                      <img src="../../../assets/images/pages/user.png" class="user me-2" />
                    </div>
                    <div>
                      <p class="mb-0"><b>JohnDoe</b> posted an NFT</p>
                      <p class="mb-0">5 minutes ago</p>
                    </div>
                  </div>
                  <div class="dropdown marketplace-dropdown">
                    <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="../../../assets/images/HomePage/three_dots.svg" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                      <li>
                        <button class="dropdown-item" type="button">
                          Report
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="position-relative">
                  <img src="../../../assets/images/pages/news_feed_two.png" class="marketplace-img" />
                </div>
                <div class="marketplace-content">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="text-gray mb-0">Collection Name</p>
                  </div>
                  <p class="fw-bold mb-2 text-nft-name">
                    NFT Name Goes Here Even If It's Long #0001
                  </p>
                  <p class="text-gray text-truncate-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0 fw-semi-bold d-flex align-items-center">
                      <img src="../../../assets/images/pages/favorite_border_dark.svg"
                        class="me-2 img-fluid w-auto" />0.22 66 Likes
                    </p>
                    <p class="mb-0 fw-semi-bold">12 Comments</p>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="/newsfeed">
              <div class="marketplace-box me-3 news-feed">
                <div class="top-header d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div>
                      <img src="../../../assets/images/pages/user.png" class="user me-2" />
                    </div>
                    <div>
                      <p class="mb-0"><b>JohnDoe</b> posted an NFT</p>
                      <p class="mb-0">5 minutes ago</p>
                    </div>
                  </div>
                  <div class="dropdown marketplace-dropdown">
                    <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="../../../assets/images/HomePage/three_dots.svg" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                      <li>
                        <button class="dropdown-item" type="button">
                          Report
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="position-relative">
                  <img src="../../../assets/images/pages/news_feed_three.png" class="marketplace-img" />
                </div>
                <div class="marketplace-content">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="text-gray mb-0">Collection Name</p>
                  </div>
                  <p class="fw-bold mb-2 text-nft-name">
                    NFT Name Goes Here Even If It's Long #0001
                  </p>
                  <p class="text-gray text-truncate-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0 fw-semi-bold d-flex align-items-center">
                      <img src="../../../assets/images/pages/favorite_border_dark.svg"
                        class="me-2 img-fluid w-auto" />0.22 66 Likes
                    </p>
                    <p class="mb-0 fw-semi-bold">12 Comments</p>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="/newsfeed">
              <div class="marketplace-box me-3 news-feed">
                <div class="top-header d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div>
                      <img src="../../../assets/images/pages/user.png" class="user me-2" />
                    </div>
                    <div>
                      <p class="mb-0"><b>JohnDoe</b> posted an NFT</p>
                      <p class="mb-0">5 minutes ago</p>
                    </div>
                  </div>
                  <div class="dropdown marketplace-dropdown">
                    <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="../../../assets/images/HomePage/three_dots.svg" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                      <li>
                        <button class="dropdown-item" type="button">
                          Report
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="position-relative">
                  <img src="../../../assets/images/pages/news_feed_four.png" class="marketplace-img" />
                </div>
                <div class="marketplace-content">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="text-gray mb-0">Collection Name</p>
                  </div>
                  <p class="fw-bold mb-2 text-nft-name">
                    NFT Name Goes Here Even If It's Long #0001
                  </p>
                  <p class="text-gray text-truncate-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0 fw-semi-bold d-flex align-items-center">
                      <img src="../../../assets/images/pages/favorite_border_dark.svg"
                        class="me-2 img-fluid w-auto" />0.22 66 Likes
                    </p>
                    <p class="mb-0 fw-semi-bold">12 Comments</p>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
          <ng-template carouselSlide>
            <a href="/newsfeed">
              <div class="marketplace-box me-3 news-feed">
                <div class="top-header d-flex align-items-center justify-content-between">
                  <div class="d-flex align-items-center">
                    <div>
                      <img src="../../../assets/images/pages/user.png" class="user me-2" />
                    </div>
                    <div>
                      <p class="mb-0"><b>JohnDoe</b> posted an NFT</p>
                      <p class="mb-0">5 minutes ago</p>
                    </div>
                  </div>
                  <div class="dropdown marketplace-dropdown">
                    <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                      aria-expanded="false">
                      <img src="../../../assets/images/HomePage/three_dots.svg" />
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                      <li>
                        <button class="dropdown-item" type="button">
                          Report
                        </button>
                      </li>
                    </ul>
                  </div>
                </div>
                <div class="position-relative">
                  <img src="../../../assets/images/pages/news_feed_one.png" class="marketplace-img" />
                </div>
                <div class="marketplace-content">
                  <div class="d-flex justify-content-between align-items-center mb-2">
                    <p class="text-gray mb-0">Collection Name</p>
                  </div>
                  <p class="fw-bold mb-2 text-nft-name">
                    NFT Name Goes Here Even If It's Long #0001
                  </p>
                  <p class="text-gray text-truncate-3">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua.
                  </p>
                  <div class="d-flex justify-content-between align-items-center">
                    <p class="mb-0 fw-semi-bold d-flex align-items-center">
                      <img src="../../../assets/images/pages/favorite_border_dark.svg"
                        class="me-2 img-fluid w-auto" />0.22 66 Likes
                    </p>
                    <p class="mb-0 fw-semi-bold">12 Comments</p>
                  </div>
                </div>
              </div>
            </a>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="our-partner loggedin-partner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-5 pb-lg-2 flex-wrap">
          <h2 class="title">Partners' NFTs</h2>
          <div>
            <button class="btn btn-outline-secondary me-md-4 me-2 my-1">
              <img src="../../../assets/images/HomePage/become_a_partner.svg" class="me-2" />
              Become a Partner
            </button>
            <button class="btn btn-outline-secondary me-md-4 me-2 my-1">
              <img src="../../../assets/images/HomePage/explore_more.svg" class="me-2" />
              Explore More
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <owl-carousel-o [options]="partnersOptions">
          <ng-template carouselSlide>
            <div class="d-flex flex-column">
              <div class="partner-box position-relative mb-4">
                <img src="../../../assets/images/HomePage/partner_nft_one.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
              <div class="partner-box position-relative">
                <img src="../../../assets/images/HomePage/partner_nft_one.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="d-flex flex-column">
              <div class="partner-box position-relative mb-4">
                <img src="../../../assets/images/HomePage/partner_nft_two.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
              <div class="partner-box position-relative">
                <img src="../../../assets/images/HomePage/partner_nft_two.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="d-flex flex-column">
              <div class="partner-box position-relative mb-4">
                <img src="../../../assets/images/HomePage/partner_nft_three.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
              <div class="partner-box position-relative">
                <img src="../../../assets/images/HomePage/partner_nft_three.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="d-flex flex-column">
              <div class="partner-box position-relative mb-4">
                <img src="../../../assets/images/HomePage/partner_nft_four.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
              <div class="partner-box position-relative">
                <img src="../../../assets/images/HomePage/partner_nft_three.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="d-flex flex-column">
              <div class="partner-box position-relative mb-4">
                <img src="../../../assets/images/HomePage/partner_nft_four.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
              <div class="partner-box position-relative">
                <img src="../../../assets/images/HomePage/partner_nft_four.png" class="img-fluid" />
                <div class="part-nft-text">
                  <h6 class="fw-bold mb-0">NFT Name</h6>
                  <p class="mb-0">By Creator's Name</p>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="our-partner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-5 pb-lg-2 flex-wrap">
          <h2 class="title">Hot Projects</h2>
          <button class="btn btn-outline-secondary m-1">
            <img src="../../../assets/images/HomePage/explore_more.svg" class="me-2" />
            Explore More
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-lg-block d-none">
          <owl-carousel-o [options]="hotProjectsOptions">
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-md-6">
                  <div class="position-relative">
                    <img src="../../../assets/images/HomePage/hot_projects_one.png" />

                    <div class="part-nft-text large-text">
                      <h6 class="fw-bold mb-0">NFT Name</h6>
                      <p class="mb-0">By Creator's Name</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pe-4">
                  <div class="row h-50 pb-3">
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/hot_projects_two.png" class="img-fluid" />
                        <div class="part-nft-text">
                          <h6 class="fw-bold mb-0">NFT Name</h6>
                          <p class="mb-0">By Creator's Name</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/hot_projects_three.png" class="img-fluid" />
                        <div class="part-nft-text">
                          <h6 class="fw-bold mb-0">NFT Name</h6>
                          <p class="mb-0">By Creator's Name</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row h-50 pt-2">
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/hot_projects_four.png" class="img-fluid" />
                        <div class="part-nft-text">
                          <h6 class="fw-bold mb-0">NFT Name</h6>
                          <p class="mb-0">By Creator's Name</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/hot_projects_five.png" class="img-fluid" />
                        <div class="part-nft-text">
                          <h6 class="fw-bold mb-0">NFT Name</h6>
                          <p class="mb-0">By Creator's Name</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-md-6">
                  <div class="position-relative">
                    <img src="../../../assets/images/HomePage/hot_projects_one.png" />

                    <div class="part-nft-text large-text">
                      <h6 class="fw-bold mb-0">NFT Name</h6>
                      <p class="mb-0">By Creator's Name</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pe-4">
                  <div class="row h-50 pb-3">
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/hot_projects_two.png" class="img-fluid" />
                        <div class="part-nft-text">
                          <h6 class="fw-bold mb-0">NFT Name</h6>
                          <p class="mb-0">By Creator's Name</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/hot_projects_three.png" class="img-fluid" />
                        <div class="part-nft-text">
                          <h6 class="fw-bold mb-0">NFT Name</h6>
                          <p class="mb-0">By Creator's Name</p>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row h-50 pt-2">
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/hot_projects_four.png" class="img-fluid" />
                        <div class="part-nft-text">
                          <h6 class="fw-bold mb-0">NFT Name</h6>
                          <p class="mb-0">By Creator's Name</p>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/hot_projects_five.png" class="img-fluid" />
                        <div class="part-nft-text">
                          <h6 class="fw-bold mb-0">NFT Name</h6>
                          <p class="mb-0">By Creator's Name</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
        <owl-carousel-o [options]="customOptions" class="d-lg-none">
          <ng-template carouselSlide>

            <div class="partner-box position-relative">
              <img src="../../../assets/images/HomePage/hot_projects_one.png" class="img-fluid" />
              <div class="part-nft-text">
                <h6 class="fw-bold mb-0">NFT Name</h6>
                <p class="mb-0">By Creator's Name</p>
              </div>
            </div>

          </ng-template>
          <ng-template carouselSlide>

            <div class="partner-box position-relative">
              <img src="../../../assets/images/HomePage/hot_projects_two.png" class="img-fluid" />
              <div class="part-nft-text">
                <h6 class="fw-bold mb-0">NFT Name</h6>
                <p class="mb-0">By Creator's Name</p>
              </div>
            </div>

          </ng-template>
          <ng-template carouselSlide>

            <div class="partner-box position-relative">
              <img src="../../../assets/images/HomePage/hot_projects_three.png" class="img-fluid" />
              <div class="part-nft-text">
                <h6 class="fw-bold mb-0">NFT Name</h6>
                <p class="mb-0">By Creator's Name</p>
              </div>
            </div>

          </ng-template>
          <ng-template carouselSlide>

            <div class="partner-box position-relative">
              <img src="../../../assets/images/HomePage/hot_projects_four.png" class="img-fluid" />
              <div class="part-nft-text">
                <h6 class="fw-bold mb-0">NFT Name</h6>
                <p class="mb-0">By Creator's Name</p>
              </div>
            </div>

          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</section>
<section class="our-partner">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-md-5 mb-4 pb-lg-2">
          <h2 class="title">Featured News</h2>
        </div>
      </div>
      <div class="col-md-12">
        <div class="d-lg-block d-none">
          <owl-carousel-o [options]="featuredNewsOptions">
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-md-6">
                  <div class="position-relative hot-project largeImage">
                    <img src="../../../assets/images/HomePage/placeholder.png" />

                    <div class="blog-text text-center">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                      <div>
                        <button class="btn btn-primary mt-4 ">View</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pe-4">
                  <div class="row h-50 pb-3">
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid" />
                        <div class="blog-text text-center">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua.</p>
                          <div>
                            <button class="btn btn-primary mt-4 view-btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid" />
                        <div class="blog-text text-center">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua.</p>
                          <div>
                            <button class="btn btn-primary mt-4 view-btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row h-50 pt-2">
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid" />
                        <div class="blog-text text-center">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua.</p>
                          <div>
                            <button class="btn btn-primary mt-4 view-btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid" />
                        <div class="blog-text text-center">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua.</p>
                          <div>
                            <button class="btn btn-primary mt-4 view-btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
            <ng-template carouselSlide>
              <div class="row">
                <div class="col-md-6">
                  <div class="position-relative hot-project largeImage">
                    <img src="../../../assets/images/HomePage/placeholder.png" />

                    <div class="blog-text text-center">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.</p>
                      <div>
                        <button class="btn btn-primary mt-4 view-btn">View</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6 pe-4">
                  <div class="row h-50 pb-3">
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid" />
                        <div class="blog-text text-center">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua.</p>
                          <div>
                            <button class="btn btn-primary mt-4 view-btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid" />
                        <div class="blog-text text-center">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua.</p>
                          <div>
                            <button class="btn btn-primary mt-4 view-btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row h-50 pt-2">
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid" />
                        <div class="blog-text text-center">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua.</p>
                          <div>
                            <button class="btn btn-primary mt-4 view-btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="hot-project position-relative">
                        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid" />
                        <div class="blog-text text-center">
                          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                            ut
                            labore et dolore magna aliqua.</p>
                          <div>
                            <button class="btn btn-primary mt-4 view-btn">View</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </ng-template>
          </owl-carousel-o>
        </div>
        <owl-carousel-o [options]="newsCustomOptions" class="d-lg-none">
          <ng-template carouselSlide>
            <div class="partner-box position-relative">
              <img src="../../../assets/images/HomePage/placeholder.png" />

              <div class="blog-text text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div>
                  <button class="btn btn-primary mt-4 view-btn">View</button>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="partner-box position-relative">
              <img src="../../../assets/images/HomePage/placeholder.png" />

              <div class="blog-text text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div>
                  <button class="btn btn-primary mt-4 view-btn">View</button>
                </div>
              </div>
            </div>
          </ng-template>
          <ng-template carouselSlide>
            <div class="partner-box position-relative">
              <img src="../../../assets/images/HomePage/placeholder.png" />

              <div class="blog-text text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                  labore et dolore magna aliqua.Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                  eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <div>
                  <button class="btn btn-primary mt-4 view-btn">View</button>
                </div>
              </div>
            </div>
          </ng-template>
        </owl-carousel-o>


      </div>
    </div>
  </div>
</section>

<section class="marketplace">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex align-items-center mb-md-5 mb-4 pb-lg-2 flex-wrap">
          <h2 class="title me-md-4 me-2">Marketplace</h2>
          <div>
            <button class="btn btn-outline-secondary me-md-4 me-2 my-1">
              <img src="../../../assets/images/HomePage/blockchain.svg" class="me-2" />
              Blockchain
            </button>
            <button class="btn btn-outline-secondary me-md-4 me-2 my-1">
              <img src="../../../assets/images/HomePage/category.svg" class="me-2" />
              Category
            </button>
            <button class="btn btn-outline-secondary me-md-4 me-2 my-1">
              <img src="../../../assets/images/HomePage/collection.svg" class="me-2" />
              Collection
            </button>
            <button class="btn btn-outline-secondary me-md-4 me-2 my-1">
              <img src="../../../assets/images/HomePage/price_range.svg" class="me-2" />
              Price Range
            </button>
            <button class="btn btn-outline-secondary my-1">
              <img src="../../../assets/images/HomePage/sort.svg" class="me-2" />
              Sort
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img
                src="../../../assets/images/HomePage/favorite_outline.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <!-- <button class="btn-icon">
                <img src="../../../assets/images/HomePage/three_dots.svg" />
              </button> -->
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold mb-4 text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img
                src="../../../assets/images/HomePage/favorite_outline.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold mb-4 text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2  w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img src="../../../assets/images/HomePage/favorite_fill.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold mb-4 text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img
                src="../../../assets/images/HomePage/favorite_outline.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold mb-4 text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img
                src="../../../assets/images/HomePage/favorite_outline.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold mb-4 text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-secondary w-100 py-3">Load More</button>
      </div>
    </div>
  </div>
</section>
<div class="modal fade common-modal" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close-btn btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
          <img src="../../../assets/images/pages/close.svg" />
        </button>
        <div class="row">
          <div class="col-md-5">
            <div class="preview-box visible-gradient">
              <div class="preview">
                <img src="../../../assets/images/pages/open_nft.png" />
              </div>
              <div class="text-center preview-info">
                <p class="mb-0"><b>MutantApeYachtClub #3059</b></p>
                <p class="mb-0 text-gray">0x0f359e883...b2c2</p>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="common-modal-content ps-md-4 mt-md-0 mt-4">
              <h3 class="fw-bold">Checkout</h3>
              <p>
                You are about to purchase a<br /><b>MutantApeYachtClub #3059</b><br />from <b>0x0f359e883...b2c2</b>
              </p>
              <div class="d-flex align-items-center justify-content-between mt-4">
                <p>Balance</p>
                <p><b>132 MATIC</b> / 476,278 USD</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p>Service Fee 2.5%</p>
                <p><b>0.25 MATIC</b> / 64,414.71 USD</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p>Item Price</p>
                <p><b>66 MATIC</b>/ 257,616 USD</p>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-4">
                <p>Total</p>
                <h5>
                  <img src="../../../assets/images/nft/polygon_matic.png" class="me-3 w-19" /><b>82.5 MATIC</b> /
                  322,074 USD
                </h5>
              </div>
              <label class="radio-container fw-normal fs-12">
                <input type="radio" name="radio" checked />
                <span class="checkmark"></span>
                By checking this box, you agree to NFTwist's
                <b class="text-theme">Terms</b>.
              </label>
            </div>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-primary fw-normal w-100 pay-now-btn">
              Pay Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>