<!-- <header class="transparent">
  <div class="container">
    <div class="header-content d-flex justify-content-end align-items-center">
      <ul class="navbar d-flex list-unstyled mb-0 py-0">
        <li class="nav-item ms-5 ps-4">
          <div class="d-flex align-items-center">
            <div class="header-user">
              <img
                src="../../../assets/images/pages/john_doe_profile.png"
                class="user me-3"
              />
            </div>
            <div>
              <img
                src="../../../assets/images/pages/more_options.svg"
                class="img-fluid"
              />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header> -->
<div class="auth-page two-way-factor">
  <div class="auth-wrapper payment-method">
    <div>
      <img src="../../../assets/images/pages/logo_color.svg" class="payment-logo  mt-lg-2" />
    </div>
    <h3 class="fw-bold">Proceed to Pay:</h3>
    <div class="visible-gradient pb-price">
      <p class="mb-0">
        <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" /><b>82.5 MATIC</b>
        / 322,074 USD
      </p>
    </div>
    <p class="fw-bold">Select a payment method from the list below</p>
    <div class="create-item-content">
      <button class="btn btn-black w-100 mb-3 fw-normal">Connect Wallet</button>
      <button class="btn btn-black w-100 mb-3 fw-normal">NFTwist Wallet</button>
      <button class="btn btn-black w-100 fw-normal">Credit/Debit Card</button>

    </div>
  </div>
</div>