<div class="auth-wrapper">
  <div class="auth-card card">
    <form [formGroup]="resetPasswordForm" (submit)="resetPassword()">
      <div class="card-body">
        <h3 class="fw-bold text-center mb-4 pb-2">{{'resetPassword.title' | translate}}</h3>
        <!-- <p class="text-center text-gray mb-4">
          {{'resetPassword.sub_title' | translate}}
        </p> -->
        <div class="form-group">
          <div class="position-relative">
            <input type="{{passwordInputType}}" formControlName="password"
              placeholder="{{'resetPassword.placeholders.newPass' | translate}}" class="form-control" />
            <div class="input-group-append">
              <span class="visible-password position-absolute" id="basic-addon1" *ngIf="passwordInputType == 'password'"
                (click)="passwordInputType = 'text'">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
              </span>
              <span class="visible-password position-absolute" id="basic-addon2" *ngIf="passwordInputType == 'text'"
                (click)="passwordInputType = 'password'">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </span>
            </div>
          </div>

          <div *ngIf="f['password'].errors" class="invalid-feedback d-block">
            <div *ngIf="isSubmit && f['password'].errors?.['required']">
              {{'resetPassword.errors.required.newPass' | translate}} </div>
            <!-- <div *ngIf="
                  f['password'].errors?.['minlength'] ||
                  f['password']?.hasError('pattern')
                ">
              {{'resetPassword.errors.valid.newPass' | translate}}
            </div> -->
            <div *ngIf="f?.['password']?.errors?.['minlength']" class="">
              <!-- <i class="fa fa-info-circle" aria-hidden="true"></i> -->
              <span class="ps-1 me-1 text-danger" *ngIf="f?.['password']?.errors?.['minlength']">Your password should be
                of atleast
                8 digit long.</span>
            </div>

          </div>
        </div>
        <div class="form-group">
          <div class="position-relative ">
            <input type="{{confirmPasswordInputType}}" formControlName="confirm_password"
              placeholder="{{'resetPassword.placeholders.confirmPass' | translate}}" class="form-control" />
            <div class="input-group-append">
              <span class="visible-password position-absolute" id="basic-addon1"
                *ngIf="confirmPasswordInputType == 'password'" (click)="confirmPasswordInputType = 'text'">
                <i class="fa fa-eye-slash" aria-hidden="true"></i>
              </span>
              <span class="visible-password position-absolute" id="basic-addon2"
                *ngIf="confirmPasswordInputType == 'text'" (click)="confirmPasswordInputType = 'password'">
                <i class="fa fa-eye" aria-hidden="true"></i>
              </span>
            </div>
          </div>
          <div *ngIf="f['confirm_password'].errors || mustMatch" class="invalid-feedback d-block">
            <div *ngIf="isSubmit && f['confirm_password'].errors?.['required']">
              {{'resetPassword.errors.required.confrmPass' | translate}}
            </div>
            <!-- <div *ngIf="mustMatch">
              {{'resetPassword.errors.valid.confrmPass' | translate}}
            </div> -->
            <div *ngIf="f?.['confirm_password']?.errors?.['confirmedValidator']" class="text-danger">
              {{'resetPassword.errors.valid.confrmPass' | translate}}
            </div>
          </div>
        </div>
        <div class="form-group text-center mt-5 mb-0">
          <button type="submit" class="btn btn-primary w-100">{{'resetPassword.saveButton' | translate}}</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!-- <auth-footer></auth-footer> -->