<div class="auth-wrapper">
  <div class="auth-card card">
    <div class="card-body">
      <h3 class="fw-bold text-center mb-4">{{'forgot.title' | translate}}</h3>
      <p class="text-center text-gray mb-3">
        {{'forgot.sub_title' | translate}}
      </p>
      <form autocomplete="off" [formGroup]="forgotForm">
        <div>

        </div>
        <div class="form-group">
          <ng-container *ngIf="isEmail">
            <input type="email" placeholder="{{'forgot.emailPlaceholder' | translate}}" class="form-control"
              formControlName="email" />
            <div *ngIf="forgetPasswrodError && f?.['email']?.errors" class="text-danger">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <span class="ps-1" *ngIf="f['email'].errors?.['required']">{{'forgot.errors.required.email' |
                translate}}</span>
              <span class="ps-1" *ngIf="f['email'].errors?.['email']">{{'forgot.errors.valid.email' |
                translate}}</span>
            </div>
          </ng-container>
          <ng-container *ngIf="!isEmail">
            <div class=" profile-detail-number-input">
              <input autocomplete="off" type="text" appNumber class="form-control w-100 shadow-none iti__country-list"
                placeholder="{{'forgot.phonePlaceholder' | translate}}" appNumber maxlength="10" ng2TelInput
                (ng2TelOutput)="getNumber($event)" formControlName="phone_no" (ng2TelOutput)="getNumber($event)"
                (intlTelInputObject)="telInputObject($event)" (countryChange)="onCountryChange($event)" />
            </div>

            <div *ngIf="forgetPasswrodError && f?.phone_no?.errors" class="text-danger">
              <i class="fa fa-info-circle" aria-hidden="true"></i>
              <span class="ps-1" *ngIf="f.phone_no.errors?.required">{{'forgot.errors.required.phone' |
                translate}}</span>
              <span class="ps-1" *ngIf="f.phone_no.errors?.minlength"> {{'forgot.errors.valid.phone' | translate}}
                digits.</span>
            </div>
          </ng-container>
          <!-- <input type="text" placeholder="{{'forgot.placeholder' | translate}}" class="form-control"
              formControlName="emailPhone" /> -->
        </div>
        <fieldset class="form-group">
          <div class="row">
            <legend class="col-sm-5 pt-0 fs-14 fw-semi-bold text-center">{{'forgot.resetType.value' |
              translate}}:
            </legend>
            <div class="col-sm-7">
              <div class="d-flex justify-content-around">
                <div class="form-check">
                  <input class="form-check-input" type="radio" (change)="typeChange($event)" name="gridRadios"
                    id="email" value="email" checked>
                  <p class="form-check-label" for="email">
                    {{'forgot.resetType.email' | translate}}
                  </p>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" (change)="typeChange($event)" name="gridRadios"
                    id="phone_no" value="phone_no">
                  <p class="form-check-label" for="phone_no">
                    {{'forgot.resetType.phone' | translate}}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="text-danger"
          *ngIf="submitted && forgotForm.controls.emailPhone?.value && forgotForm.controls.emailPhone?.errors?.pattern">
          {{'forgot.errors.valid' | translate}}
        </div>
      </form>

      <div class="form-group text-center mt-4 pt-2">
        <button class="btn btn-outline-secondary mx-2 large" routerLink="/login">{{'forgot.buttons.Cancel' | translate}}</button>
        <button class="btn btn-primary mx-2 large" (click)="Submit(verifyOtpModal)" [disabled]="!forgotForm.valid || loading">
          <span *ngIf="!loading">{{'forgot.buttons.Send_Reset_Link' | translate}}</span>
          <div *ngIf="loading" class="spinner-border text-dark" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </button>
      </div>

    </div>
  </div>
</div>

<!-- <auth-footer></auth-footer> -->


<!-- Modal -->
<ng-template #verifyOtpModal let-modal>

  <div class="verify-otp-modal">

    <!-- <div class="modal fade verify-otp-modal" id="otpModal" tabindex="-1" aria-labelledby="otpModalLabel" aria-hidden="true" >
  <div class="modal-dialog modal-dialog-centered " > -->
    <div class="modal-content ">

      <button type="button" class="btn-close ms-auto" data-bs-dismiss="modal" (click)="modal.close()"
        aria-label="Close"></button>

      <div class="modal-body text-center">
        <h3 class="fw-semi-bold">Verify your {{isEmail?'Email Address':'Phone Number'}} </h3>
        <p class="text-gray mb-4">Enter your otp code here</p>
        <div class="form-group d-flex justify-content-center align-items-center mb-2">
          <input type="text" autocomplete="null" class="form-control" [(ngModel)]="one" (keydown)="onKeyDown($event)"
            (keyup)="goToNextInput($event)" maxlength="1" size="1" />
          <input type="text" autocomplete="null" class="form-control" [(ngModel)]="two" (keydown)="onKeyDown($event)"
            (keyup)="goToNextInput($event)" maxlength="1" size="1" />
          <input type="text" autocomplete="null" class="form-control" [(ngModel)]="three" (keydown)="onKeyDown($event)"
            (keyup)="goToNextInput($event)" maxlength="1" size="1" />
          <input type="text" autocomplete="null" class="form-control" [(ngModel)]="four" (keydown)="onKeyDown($event)"
            (keyup)="goToNextInput($event)" maxlength="1" size="1" />
        </div>
        <div class="text-center my-4">
          <span *ngIf="isShow">
            <span class="fs-14">Resend OTP in:</span>
            <span class="gradient-text ms-1">{{timer}}s</span>
            <!-- <span class="gradient-text ms-1 ml-1" (click)="stoptimer()">Stop</span> -->
          </span>
          <button *ngIf="timer == 0" class="btn-icon" (click)="resenOtp()"><span class="gradient-text">Resend Otp</span></button>
        </div>
        <a class="btn btn-primary w-100 fw-semi-bold fs-14" (click)="verifyOtp()">Verify OTP</a>
      </div>

    </div>

  </div>
  <!-- </div>
</div> -->
</ng-template>