<!-- blog section -->

<section class="section-bg">
    <div class="container">
        <div class="row gy-3 align-items-center">
            <div class="col-md-6">
                <div class="blog-image">
                    <img src="	https://nftwistblob.blob.core.windows.net/original/1653559723572-banner_image1.png"
                        alt="img" class="img-fluid blog-img rounded-2 shadow-lg">
                </div>
            </div>
            <div class="col-md-6">
                <div class="blog-content px-1">
                    <span class="span-1 px-2 text-light fw-bold py-2 d-inline-block">People</span>
                    <h1 class="py-3">Lorem ipsum dolor sit amet consectetur</h1>
                    <h5>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Numquam perspiciatis consectetur dolor
                        dignissimos porro unde!</h5>
                    <p class="d-flex gap-2 fw-bold gray"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20px" height="20px">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        October 14,2022
                    </p>
                    <button class="btn btn-primary btn-read text-dark border border-2 rounded-3 fw-bold">READ MORE<svg
                            xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" width="20px" height="20px" class="ms-2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <div class="row mt-5 gy-3">
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-lg">
                    <img src="https://nftwistblob.blob.core.windows.net/original/1653559723572-banner_image1.png"
                        class="img-fluid card-img" alt="img">
                    <div class="card-body">
                        <span class="span-1 px-2 text-light fw-bold py-1 d-inline-block">Title</span>
                        <h5 class="card-title py-3 pb-1">Lorem ipsum dolor sit amet.</h5>
                        <p class="d-flex gap-2 fw-bold gray"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20px" height="20px">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            October 14,2022
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-lg">
                    <img src="https://nftwistblob.blob.core.windows.net/original/1653559723572-banner_image1.png"
                        class="img-fluid card-img" alt="img">
                    <div class="card-body">
                        <span class="span-1 px-2 text-light fw-bold py-1 d-inline-block">Title</span>
                        <h5 class="card-title py-3 pb-1">Lorem ipsum dolor sit amet.</h5>
                        <p class="d-flex gap-2 fw-bold gray"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20px" height="20px">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            October 14,2022
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-6 col-lg-4">
                <div class="card shadow-lg">
                    <img src="https://nftwistblob.blob.core.windows.net/original/1653559723572-banner_image1.png"
                        class="img-fluid card-img" alt="img">
                    <div class="card-body">
                        <span class="span-1 px-2 text-light fw-bold py-1 d-inline-block">Title</span>
                        <h5 class="card-title py-3 pb-1">Lorem ipsum dolor sit amet.</h5>
                        <p class="d-flex gap-2 fw-bold gray"><svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" width="20px" height="20px">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 6v6h4.5m4.5 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            October 14,2022
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>