<section class="marketplace-banner">
  <div class="container h-100">
    <div class="position-relative m-banner-content">
      <div class="text-center">
        <img src="../../../assets/images/LoginSignup/logo_white_large.svg" class="img-fluid large-logo" />
      </div>
      <p class="marketplace-artwork mb-0 d-lg-block d-none">Artwork by <b>John Doe</b></p>
    </div>
  </div>
</section>
<section class="nftwist-tabs py-0">
  <div class="container">
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home"
          type="button" role="tab" aria-controls="pills-home" aria-selected="true">
          <span>Marketplace</span>
        </button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile"
          type="button" role="tab" aria-controls="pills-profile" aria-selected="false">
          <span>Partners' NFTs</span>
        </button>
      </li>
    </ul>
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
        <div class="marketplace-tab-content">
          <h4 class="mb-md-5 fw-bold mb-4">Top Sellers This Week</h4>
          <div class="row">
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_one.png" class="seller-img me-3" />
                  <span class="seller-count me-3">1</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_two.png" class="seller-img me-3" />
                  <span class="seller-count me-3">2</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_three.png" class="seller-img me-3" />
                  <span class="seller-count me-3">3</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_four.png" class="seller-img me-3" />
                  <span class="seller-count me-3">4</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_five.png" class="seller-img me-3" />
                  <span class="seller-count me-3">5</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_six.png" class="seller-img me-3" />
                  <span class="seller-count me-3">6</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_seven.png" class="seller-img me-3" />
                  <span class="seller-count me-3">7</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_eight.png" class="seller-img me-3" />
                  <span class="seller-count me-3">8</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_nine.png" class="seller-img me-3" />
                  <span class="seller-count me-3">9</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_ten.png" class="seller-img me-3" />
                  <span class="seller-count me-3">10</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_eleven.png" class="seller-img me-3" />
                  <span class="seller-count me-3">11</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_twelve.png" class="seller-img me-3" />
                  <span class="seller-count me-3">12</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
        <div class="marketplace-tab-content">
          <h4 class="mb-5 fw-bold">Top Sellers to Most Active Partners</h4>
          <div class="row">
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_one.png" class="seller-img me-3" />
                  <span class="seller-count me-3">1</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_two.png" class="seller-img me-3" />
                  <span class="seller-count me-3">2</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_three.png" class="seller-img me-3" />
                  <span class="seller-count me-3">3</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_four.png" class="seller-img me-3" />
                  <span class="seller-count me-3">4</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_five.png" class="seller-img me-3" />
                  <span class="seller-count me-3">5</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_six.png" class="seller-img me-3" />
                  <span class="seller-count me-3">6</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_seven.png" class="seller-img me-3" />
                  <span class="seller-count me-3">7</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_eight.png" class="seller-img me-3" />
                  <span class="seller-count me-3">8</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_nine.png" class="seller-img me-3" />
                  <span class="seller-count me-3">9</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_ten.png" class="seller-img me-3" />
                  <span class="seller-count me-3">10</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_eleven.png" class="seller-img me-3" />
                  <span class="seller-count me-3">11</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
            <div class="col-xl-4 col-md-6">
              <div class="d-flex align-items-center mb-4">
                <div>
                  <img src="../../../assets/images/pages/seller_twelve.png" class="seller-img me-3" />
                  <span class="seller-count me-3">12</span>
                </div>
                <p class="mb-0">
                  <b class="me-2">Seller's Name </b>$66,666
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="marketplace">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="d-flex align-items-center mb-md-5 mb-4 pb-lg-2 flex-wrap">
          <h2 class="title me-md-4 me-2">Marketplace</h2>
          <div class="d-flex flex-wrap">
            <div class="dropdown common-dropdown">
              <button class="btn btn-outline-secondary me-md-4 me-2 my-1" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../assets/images/HomePage/blockchain.svg" class="me-2" />
                Blockchain
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li>
                  <label class="radio-container fw-semi-bold fs-14 my-0">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    BNB
                  </label>
                </li>
                <li>
                  <label class="radio-container fw-semi-bold fs-14 my-0">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    Polygon
                  </label>
                </li>
                <li>
                  <label class="radio-container fw-semi-bold fs-14 my-0">
                    <input type="checkbox" />
                    <span class="checkmark"></span>
                    Fantom
                  </label>
                </li>
                <li class="mt-4">
                  <button class="btn btn-primary w-100">Apply</button>
                </li>
                <li>
                  <button class="btn btn-black w-100">Clear</button>
                </li>
              </ul>
            </div>
            <div class="dropdown common-dropdown cat-dropdown">
              <button class="btn btn-outline-secondary me-md-4 me-2 my-1" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../assets/images/HomePage/category.svg" class="me-2" />
                Category
              </button>
              <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                <div class="cat-list scrollable">
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      All
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Art
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Photography
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Games
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Metaverses
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Music
                    </label>
                  </li>
                </div>
             
              </ul>
            </div>
            <div class="dropdown common-dropdown cat-dropdown">
              <button class="btn btn-outline-secondary me-md-4 me-2 my-1" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../assets/images/HomePage/collection.svg" class="me-2" />
                Collection
              </button>
              <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                <div class="cat-list scrollable">
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Collection 1
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Collection 2
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Collection 3
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Collection 4
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Collection 5
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Collection 6
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Collection 7
                    </label>
                  </li>
                </div>
          
              </ul>
            </div>
            <div class="dropdown common-dropdown price-dropdown">
              <button class="btn btn-outline-secondary me-md-4 me-2 my-1" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../assets/images/HomePage/price_range.svg" class="me-2" />
                Price Range
              </button>
              <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                <div class="cat-list scrollable">
                  <li>
                    <div class="position-relative">
                      <select class="form-select shadow-none">
                        <option>BNB</option>
                        <option>Polygon</option>
                      </select>
                    </div>
                  </li>
                  <li>
                    <div class="row mx-0">
                      <div class="col ps-0 pe-2">
                        <input type="text" placeholder="From" class="form-control text-center" />
                      </div>
                      <div class="col pe-0 ps-2">
                        <input type="text" placeholder="To" class="form-control text-center" />
                      </div>
                    </div>
                    <div class="row mx-0 mt-4 pt-1">
                      <div class="col ps-0 pe-2">
                        <button class="btn btn-primary w-100">Apply</button>
                      </div>
                      <div class="col pe-0 ps-2">
                        <button class="btn btn-black w-100">Clear</button>
                      </div>


                    </div>
                  </li>

                </div>
              </ul>
            </div>
            <div class="dropdown common-dropdown cat-dropdown">
              <button class="btn btn-outline-secondary me-md-4 me-2 my-1" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../../assets/images/HomePage/sort.svg" class="me-2" />
                Sort
              </button>
              <ul class="dropdown-menu " aria-labelledby="dropdownMenuButton1">
                <div class="cat-list scrollable">
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Recently Added
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Price: Low - High
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Price: High - Low
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Verified Only
                    </label>
                  </li>
                  <li>
                    <label class="radio-container fw-semi-bold fs-14 my-0">
                      <input type="checkbox" />
                      <span class="checkmark"></span>
                      Auction Ending Soon
                    </label>
                  </li>
                </div>
                <li class="mt-3">
                  <button class="btn btn-primary w-100">Apply</button>
                </li>
                <li>
                  <button class="btn btn-black w-100">Cancel</button>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img
                src="../../../assets/images/HomePage/favorite_outline.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <!-- <button class="btn-icon">
                <img src="../../../assets/images/HomePage/three_dots.svg" />
              </button> -->
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img
                src="../../../assets/images/HomePage/favorite_outline.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img src="../../../assets/images/HomePage/favorite_fill.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img
                src="../../../assets/images/HomePage/favorite_outline.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 col-xl-3 mb-4 pb-lg-3">
        <div class="marketplace-box">
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/nft_placeholder.png" class="marketplace-img" />
            <div class="likes-count">
              <span class="me-2 fw-semi-bold">66</span><img
                src="../../../assets/images/HomePage/favorite_outline.svg" />
            </div>
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
              <div class="dropdown marketplace-dropdown">
                <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                  aria-expanded="false">
                  <img src="../../../assets/images/HomePage/three_dots.svg" />
                </button>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                  <li>
                    <button class="dropdown-item" type="button">Report</button>
                  </li>
                </ul>
              </div>
            </div>
            <p class="fw-bold text-nft-name">
              NFT Name Goes Here Even If It's Long #0001
            </p>
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/nft/polygon_matic.png" class="me-2 w-19" />0.22 MATIC
              </p>
              <button class="btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
                <span class="gradient-text">Buy Now</span>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <button class="btn btn-outline-secondary w-100 py-3 d-flex justify-content-center align-items-center">Load More
          <span class="spinner-border spn ms-2" role="status">
            <span class="sr-only">Loading...</span>
          </span></button>
      </div>
    </div>
  </div>
</section>

<div class="modal fade common-modal" id="buyModal" tabindex="-1" aria-labelledby="buyModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <button class="close-btn btn-icon" data-bs-toggle="modal" data-bs-target="#buyModal">
          <img src="../../../assets/images/pages/close.svg" />
        </button>
        <div class="row">
          <div class="col-md-5">
            <div class="preview-box visible-gradient">
              <div class="preview">
                <img src="../../../assets/images/pages/open_nft.png" />
              </div>
              <div class="text-center preview-info">
                <p class="mb-0 text-break"><b>MutantApeYachtClub #3059</b></p>
                <p class="mb-0 text-gray text-break">0x0f359e883...b2c2</p>
              </div>
            </div>
          </div>
          <div class="col-md-7">
            <div class="common-modal-content ps-md-4 mt-md-0 mt-4">
              <h3 class="fw-bold">Checkout</h3>
              <p>
                You are about to purchase a<br /><b>MutantApeYachtClub #3059</b><br />from <b>0x0f359e883...b2c2</b>
              </p>
              <div class="d-flex align-items-center justify-content-between mt-4">
                <p>Balance</p>
                <p><b>132 MATIC</b> / 476,278 USD</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p>Service Fee 2.5%</p>
                <p><b>0.25 MATIC</b> / 64,414.71 USD</p>
              </div>
              <div class="d-flex align-items-center justify-content-between">
                <p>Item Price</p>
                <p><b>66 MATIC</b>/ 257,616 USD</p>
              </div>
              <div class="d-flex align-items-center justify-content-between mt-4">
                <p>Total</p>
                <h5>
                  <img src="../../../assets/images/nft/polygon_matic.png" class="me-3 w-19" /><b>82.5 MATIC</b> /
                  322,074 USD
                </h5>
              </div>
              <label class="radio-container fw-normal fs-12">
                <input type="radio" name="radio" checked />
                <span class="checkmark"></span>
                By checking this box, you agree to NFTwist's
                <b class="text-theme">Terms</b>.
              </label>
            </div>
          </div>
          <div class="col-md-12">
            <button type="button" class="btn btn-primary fw-normal w-100 pay-now-btn">
              Pay Now
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>