<!-- terms and condition section -->
<section>
    <div class="container">
        <div class="terms-condition">
            <p class="agreement m-0">AGREEMENT</p>
            <h1 class="py-3">Terms and Condition</h1>
            <p class="t-and-c">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis sapiente incidunt
                aspernatur sunt facilis odit laboriosam, ratione consequuntur molestias recusandae excepturi! Dolor
                rerum similique voluptatibus harum repellendus consequatur vero blanditiis!</p>
            <p class="t-and-c">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut, enim provident nihil
                facilis eaque laudantium qui cum sunt eius architecto adipisci delectus quibusdam, ducimus magni
                aliquid, omnis fugit. Libero quibusdam, facere animi repudiandae tenetur expedita! Assumenda vitae,
                similique modi consectetur laboriosam ipsam eaque aliquam repellendus! Eius nulla unde aliquam maiores.
            </p>
            <ul>
                <li>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Similique ab earum provident voluptas.
                    Saepe, maxime consequuntur sint quasi explicabo optio.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias consectetur iste provident amet
                    repellat impedit placeat exercitationem adipisci asperiores ipsum.
                </li>
                <li>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis natus est voluptatum ipsum! Sed
                    itaque, aut quam quo vel expedita!
                </li>
                <li>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. Labore iure explicabo, laboriosam minima
                    minus ullam fugiat sequi molestias nisi nostrum?
                </li>
            </ul>
            <p class="t-and-c">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam similique alias porro
                tempora, quia neque vero iure et eveniet, provident ut maiores eos quam officiis. Maiores tempora nisi
                laboriosam tenetur.</p>
            <p class="t-and-c">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius, aliquid id? Aperiam quod,
                ratione incidunt, perspiciatis qui quasi tempora similique eaque ab maiores at alias? Saepe commodi ipsa
                dolores voluptatibus atque ea. Animi beatae quidem libero accusantium rerum laudantium hic!</p>
            <div class="d-flex gap-3 flex-wrap">
                <button class="btn btn-not border border-dark rounded-3">Not Right Now</button>
                <button class="btn btn-agree rounded-3 ">I Agree With Terms</button>
            </div>
        </div>
    </div>
</section>