<section class="banner-wrapper partner-details-banner">
  <div class="container h-100">
    <div class="row align-items-center h-100">
      <div class="col-md-12">
        <div class="text-center text-white welcome-back-text pb-3">
          <h1 class="fw-bold large-title">The Partnerships
            That Bring The Magic
            To Our Community </h1>
        </div>
      </div>

    </div>
  </div>
</section>
<section class="text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="large-title mb-0"><span class="gradient-text">Get To Know</span></h1>
        <h1 class="large-title mb-0"><span class="gradient-text"> Our Partners</span></h1>
        <!-- <p class="fw-bold gettoknwtext">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
          incididunt ut labore et dolore magna aliqua.</p>
        <p class="long-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
          ut labore et dolore magna aliqua. Id diam maecenas ultricies mi eget mauris pharetra et ultrices. Consectetur
          adipiscing elit pellentesque habitant morbi. Vitae elementum curabitur vitae nunc sed velit dignissim sodales.
          Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Cursus turpis massa tincidunt dui.
          Nunc vel risus commodo viverra maecenas accumsan. Faucibus in ornare quam viverra orci sagittis eu volutpat.
          Amet commodo nulla facilisi nullam vehicula.</p> -->
        <button class="btn btn-outline-secondary fs-14 my-5"><img
            src="../../../assets/images/HomePage/become_a_partner.svg" class="me-2" />Become a Partner Yourself</button>
      </div>
    </div>
  </div>
</section>
<section class="text-center creativity">
  <h3 class="fw-bold mb-md-5 mb-4 p-title">Food & Beverage</h3>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>

</section>
<section class="text-center creativity mt-lg-5">
  <h3 class="fw-bold mb-md-5 mb-4 p-title">Entertainment</h3>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>

</section>
<section class="text-center creativity mt-lg-5">
  <h3 class="fw-bold mb-md-5 mb-4 p-title">Art Brands</h3>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="nft-details-box">
        <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid nft-details-img" />
        <div class="nft-details-text">
          <h5 class="fw-bold">Partner’s Name</h5>
          <button class="btn btn-outline-primary"><span class="gradient-text">Visit Page</span></button>
        </div>
      </div>
    </ng-template>
  </owl-carousel-o>

</section>
<section class="partner-svg-wrapper">
  <div class="container px-5">
    <svg viewBox="0 0 1190 1190" fill="none" xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle cx="595" cy="595" r="353" fill="url(#pattern0)" stroke="#E2E2E2" stroke-width="6" />
      <circle r="46" transform="matrix(-1 0 0 1 595 47)" fill="url(#pattern1)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M736 111C710.585 111 690 90.1708 690 64.5C690 38.8292 710.585 18 736 18C761.415 18 782 38.8292 782 64.5C782 90.1708 761.415 111 736 111Z"
        fill="url(#pattern2)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M866 164C840.585 164 820 143.171 820 117.5C820 91.8292 840.585 71 866 71C891.415 71 912 91.8292 912 117.5C912 143.171 891.415 164 866 164Z"
        fill="url(#pattern3)" stroke="#E2E2E2" stroke-width="2" />
      <circle r="46" transform="matrix(-1 0 0 1 982 207)" fill="url(#pattern4)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M1072.5 367C1046.83 367 1026 346.415 1026 321C1026 295.585 1046.83 275 1072.5 275C1098.17 275 1119 295.585 1119 321C1119 346.415 1098.17 367 1072.5 367Z"
        fill="url(#pattern5)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M1125.5 500C1099.83 500 1079 479.415 1079 454C1079 428.585 1099.83 408 1125.5 408C1151.17 408 1172 428.585 1172 454C1172 479.415 1151.17 500 1125.5 500Z"
        fill="url(#pattern6)" stroke="#E2E2E2" stroke-width="2" />
      <circle r="46" transform="matrix(-1 0 0 1 1143 595)" fill="url(#pattern7)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M1125.5 782C1099.83 782 1079 761.415 1079 736C1079 710.585 1099.83 690 1125.5 690C1151.17 690 1172 710.585 1172 736C1172 761.415 1151.17 782 1125.5 782Z"
        fill="url(#pattern8)" stroke="#E2E2E2" stroke-width="2" />
      <circle r="46" transform="matrix(-1 0 0 1 1071 869)" fill="url(#pattern9)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M982 1031C956.585 1031 936 1010.17 936 984.5C936 958.829 956.585 938 982 938C1007.42 938 1028 958.829 1028 984.5C1028 1010.17 1007.42 1031 982 1031Z"
        fill="url(#pattern10)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M870 1116C844.585 1116 824 1095.17 824 1069.5C824 1043.83 844.585 1023 870 1023C895.415 1023 916 1043.83 916 1069.5C916 1095.17 895.415 1116 870 1116Z"
        fill="url(#pattern11)" stroke="#E2E2E2" stroke-width="2" />
      <circle r="46.5" transform="matrix(-1 0 0 1 738.5 1125.5)" fill="url(#pattern12)" stroke="#E2E2E2"
        stroke-width="2" />
      <circle r="46" transform="matrix(-1 0 0 1 595 1143)" fill="url(#pattern13)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M454 1172C428.585 1172 408 1151.17 408 1125.5C408 1099.83 428.585 1079 454 1079C479.415 1079 500 1099.83 500 1125.5C500 1151.17 479.415 1172 454 1172Z"
        fill="url(#pattern14)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M322.5 1117C296.829 1117 276 1096.42 276 1071C276 1045.58 296.829 1025 322.5 1025C348.171 1025 369 1045.58 369 1071C369 1096.42 348.171 1117 322.5 1117Z"
        fill="url(#pattern15)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M208 1031C182.585 1031 162 1010.17 162 984.5C162 958.829 182.585 938 208 938C233.415 938 254 958.829 254 984.5C254 1010.17 233.415 1031 208 1031Z"
        fill="url(#pattern16)" stroke="#E2E2E2" stroke-width="2" />
      <circle r="46.5" transform="matrix(-1 0 0 1 117.5 863.5)" fill="url(#pattern17)" stroke="#E2E2E2"
        stroke-width="2" />
      <circle r="46.5" transform="matrix(-1 0 0 1 64.5 730.5)" fill="url(#pattern18)" stroke="#E2E2E2"
        stroke-width="2" />
      <circle r="46" transform="matrix(-1 0 0 1 47 591)" fill="url(#pattern19)" stroke="#E2E2E2" stroke-width="2" />
      <circle r="46.5" transform="matrix(-1 0 0 1 64.5 451.5)" fill="url(#pattern20)" stroke="#E2E2E2"
        stroke-width="2" />
      <path
        d="M120.5 363C94.8292 363 74 342.415 74 317C74 291.585 94.8292 271 120.5 271C146.171 271 167 291.585 167 317C167 342.415 146.171 363 120.5 363Z"
        fill="url(#pattern21)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M205.5 254C179.829 254 159 233.415 159 208C159 182.585 179.829 162 205.5 162C231.171 162 252 182.585 252 208C252 233.415 231.171 254 205.5 254Z"
        fill="url(#pattern22)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M321 164C295.585 164 275 143.171 275 117.5C275 91.8292 295.585 71 321 71C346.415 71 367 91.8292 367 117.5C367 143.171 346.415 164 321 164Z"
        fill="url(#pattern23)" stroke="#E2E2E2" stroke-width="2" />
      <path
        d="M454 111C428.585 111 408 90.1708 408 64.5C408 38.8292 428.585 18 454 18C479.415 18 500 38.8292 500 64.5C500 90.1708 479.415 111 454 111Z"
        fill="url(#pattern24)" stroke="#E2E2E2" stroke-width="2" />
      <line x1="594" y1="245" x2="594" y2="92" stroke="#E2E2E2" stroke-width="2" />
      <line x1="594" y1="1098" x2="594" y2="945" stroke="#E2E2E2" stroke-width="2" />
      <line x1="945" y1="594" x2="1098" y2="594" stroke="#E2E2E2" stroke-width="2" />
      <line x1="92" y1="594" x2="245" y2="594" stroke="#E2E2E2" stroke-width="2" />
      <line x1="841.555" y1="347.029" x2="949.674" y2="238.91" stroke="#E2E2E2" stroke-width="2" />
      <line x1="238.91" y1="949.676" x2="347.029" y2="841.557" stroke="#E2E2E2" stroke-width="2" />
      <line x1="842.969" y1="841.557" x2="951.088" y2="949.676" stroke="#E2E2E2" stroke-width="2" />
      <line x1="240.324" y1="238.91" x2="348.443" y2="347.029" stroke="#E2E2E2" stroke-width="2" />
      <line x1="768.978" y1="291.665" x2="845.43" y2="159.247" stroke="#E2E2E2" stroke-width="2" />
      <line x1="342.841" y1="1029.75" x2="419.293" y2="897.335" stroke="#E2E2E2" stroke-width="2" />
      <line x1="898.336" y1="768.976" x2="1030.75" y2="845.428" stroke="#E2E2E2" stroke-width="2" />
      <line x1="160.242" y1="342.84" x2="292.661" y2="419.292" stroke="#E2E2E2" stroke-width="2" />
      <line x1="932.511" y1="503.529" x2="1080.2" y2="463.954" stroke="#E2E2E2" stroke-width="2" />
      <line x1="109.284" y1="724.114" x2="256.978" y2="684.539" stroke="#E2E2E2" stroke-width="2" />
      <line x1="686.474" y1="932.51" x2="726.048" y2="1080.2" stroke="#E2E2E2" stroke-width="2" />
      <line x1="465.888" y1="109.28" x2="505.462" y2="256.974" stroke="#E2E2E2" stroke-width="2" />
      <line x1="684.542" y1="256.973" x2="724.116" y2="109.279" stroke="#E2E2E2" stroke-width="2" />
      <line x1="463.956" y1="1080.2" x2="503.53" y2="932.51" stroke="#E2E2E2" stroke-width="2" />
      <line x1="933.028" y1="684.539" x2="1080.72" y2="724.113" stroke="#E2E2E2" stroke-width="2" />
      <line x1="109.794" y1="463.955" x2="257.488" y2="503.529" stroke="#E2E2E2" stroke-width="2" />
      <line x1="897.336" y1="419.292" x2="1029.75" y2="342.84" stroke="#E2E2E2" stroke-width="2" />
      <line x1="159.25" y1="845.428" x2="291.668" y2="768.976" stroke="#E2E2E2" stroke-width="2" />
      <line x1="770.71" y1="897.335" x2="847.162" y2="1029.75" stroke="#E2E2E2" stroke-width="2" />
      <line x1="344.573" y1="159.248" x2="421.025" y2="291.666" stroke="#E2E2E2" stroke-width="2" />
      <line x1="594" y1="245" x2="594" y2="92" stroke="#E2E2E2" stroke-width="2" />
      <line x1="594" y1="1098" x2="594" y2="945" stroke="#E2E2E2" stroke-width="2" />
      <line x1="945" y1="594" x2="1098" y2="594" stroke="#E2E2E2" stroke-width="2" />
      <line x1="92" y1="594" x2="245" y2="594" stroke="#E2E2E2" stroke-width="2" />
      <line x1="841.555" y1="347.029" x2="949.674" y2="238.91" stroke="#E2E2E2" stroke-width="2" />
      <line x1="238.91" y1="949.676" x2="347.029" y2="841.557" stroke="#E2E2E2" stroke-width="2" />
      <line x1="842.969" y1="841.557" x2="951.088" y2="949.676" stroke="#E2E2E2" stroke-width="2" />
      <line x1="240.324" y1="238.91" x2="348.443" y2="347.029" stroke="#E2E2E2" stroke-width="2" />
      <defs>
        <pattern id="pattern0" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern1" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern2" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.51027) scale(0.00168238)" />
        </pattern>
        <pattern id="pattern3" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.51027) scale(0.00168238)" />
        </pattern>
        <pattern id="pattern4" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern5" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.488188) scale(0.00164561)" />
        </pattern>
        <pattern id="pattern6" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.488188) scale(0.00164561)" />
        </pattern>
        <pattern id="pattern7" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern8" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.488188) scale(0.00164561)" />
        </pattern>
        <pattern id="pattern9" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern10" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.51027) scale(0.00168238)" />
        </pattern>
        <pattern id="pattern11" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.51027) scale(0.00168238)" />
        </pattern>
        <pattern id="pattern12" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern13" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern14" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.51027) scale(0.00168238)" />
        </pattern>
        <pattern id="pattern15" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.488188) scale(0.00164561)" />
        </pattern>
        <pattern id="pattern16" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.51027) scale(0.00168238)" />
        </pattern>
        <pattern id="pattern17" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern18" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern19" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern20" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.499168) scale(0.00166389)" />
        </pattern>
        <pattern id="pattern21" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.488188) scale(0.00164561)" />
        </pattern>
        <pattern id="pattern22" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.488188) scale(0.00164561)" />
        </pattern>
        <pattern id="pattern23" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.51027) scale(0.00168238)" />
        </pattern>
        <pattern id="pattern24" patternContentUnits="objectBoundingBox" width="1" height="1">
          <use xlink:href="#image0_284_885" transform="translate(-0.51027) scale(0.00168238)" />
        </pattern>
        <image id="image0_284_885" width="100%" height="100%" preserveAspectRatio="xMidYMid slice" class="image-path"
          xlink:href="../../../assets/images/HomePage/placeholder.png" />
      </defs>
    </svg>
  </div>

</section>