<!-- <header class="transparent">
  <div class="container">
    <div class="header-content d-flex justify-content-end align-items-center">
      <ul class="navbar d-flex list-unstyled mb-0 py-0">
        <li class="nav-item ms-5 ps-4">
          <div class="d-flex align-items-center">
            <div class="header-user">
              <img src="../../../assets/images/pages/john_doe_profile.png" class="user me-3" />
            </div>
            <div>
              <img src="../../../assets/images/pages/more_options.svg" class="img-fluid" />
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</header> -->
<div class="auth-page two-way-factor">
  <div class="auth-wrapper text-center nft-success">
    <div class="card">
      <div class="card-body">
        <div>
          <img src="../../../assets/images/pages/logo_color.svg" class="nft-logo" />
        </div>
        <h3 class="fw-bold">Congratulations!</h3>
        <h6 class="fw-bold mb-4">You now own this NFT:</h6>
        <div class="preview-box visible-gradient">
          <div class="preview">
            <img src="../../../assets/images/pages/open_nft.png" />
          </div>
          <div class="text-center preview-info">
            <p class="mb-0 text-break"><b>MutantApeYachtClub #3059</b></p>
            <p class="mb-0 text-gray text-break">0x0f359e883...b2c2</p>
          </div>
        </div>
        <div>
          <button class="btn btn-outline-secondary mx-2 my-1">
            Continue Browsing
          </button>
          <button class="btn btn-outline-secondary mx-2 my-1">
            View My Profile
          </button>
          <button class="btn btn-outline-primary mx-2 my-1">
            <span class="gradient-text">Share To Newsfeed</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>