<div class="container">
  <div class="newsfeed-wrapper">
    <div class="newsfeed-profile text-center">
      <div class="newsfeed-profile-banner">
        <img src="../../../assets/images/HomePage/nft_placeholder.png" class="image" />
      </div>
      <div class="newsfeed-profile-pic">
        <img src="../../../assets/images/HomePage/nft_placeholder.png" />
      </div>
      <h3 class="fw-bold mb-lg-4 mb-2">John Doe</h3>
      <h6 class="fw-bold mb-lg-4 mb-2">
        <span class="gradient-text">@johndoe</span>
      </h6>
      <p>
        Acc. ID <b class="mx-2 code">1x1cs...6sa1</b>
        <button class="btn btn-icon">
          <img src="../../../assets/images/pages/copy.svg" style="width: 15px" />
        </button>
      </p>
      <div class="add-buttons">
        <div class="my-sm-3 my-2">
          <button class="btn btn-outline-secondary">
            <img src="../../../assets/images/pages/create.png" class="me-2" />Edit
            Profile
          </button>
        </div>
        <div class="my-sm-3 my-2">
          <button class="btn btn-outline-secondary">
            <img src="../../../assets/images/pages/finds_friends.svg" class="me-2" />Find Friends
          </button>
        </div>
      </div>
    </div>

    <div class="nf-content-wrapper">
      <div class="white-card">
        <div class="d-flex align-items-center justify-content-between mb-3 flex-wrap">
          <h3 class="fw-bold mb-0">Newsfeed</h3>
          <div class="flex-grow-1 text-xl-end">
            <button class="btn newsfeed-btn active">
              <img src="../../../assets/images/pages/home_feed.svg" class="newsBtn" />
              <img src="../../../assets/images/pages/home_feed_select.svg" class="gradient-img" />
              <span>Home Feed</span>
            </button>
            <button class="btn newsfeed-btn ">
              <img src="../../../assets/images/pages/explore_feed.svg" class="newsBtn" />
              <img src="../../../assets/images/pages/explore_feed_select.svg" class="gradient-img" />
              <span>Explore Feed</span>
            </button>
            <button class="btn newsfeed-btn ">
              <img src="../../../assets/images/pages/hidden_gems.svg" class="newsBtn" />
              <img src="../../../assets/images/pages/hidden_gems_select.svg" class="gradient-img" />
              <span>Hidden Gems</span>
            </button>
          </div>
        </div>
        <div class="marketplace-box news-feed">
          <div class="top-header d-flex align-items-center justify-content-between">
            <div class="d-flex align-items-center">
              <div>
                <img src="../../../assets/images/HomePage/nft_placeholder.png" class="user me-2" />
              </div>
              <div>
                <p class="mb-0"><b>JohnDoe</b> posted an NFT</p>
                <p class="mb-0">5 minutes ago</p>
              </div>
            </div>
            <div class="dropdown marketplace-dropdown">
              <button class="btn btn-icon" type="button" id="dropdownMenu2" data-bs-toggle="dropdown"
                aria-expanded="false">
                <img src="../../../assets/images/HomePage/three_dots.svg" />
              </button>
              <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenu2">
                <li>
                  <button class="dropdown-item" type="button">Report</button>
                </li>
              </ul>
            </div>
          </div>
          <div class="position-relative">
            <img src="../../../assets/images/HomePage/placeholder.png" class="marketplace-img" />
          </div>
          <div class="marketplace-content">
            <div class="d-flex justify-content-between align-items-center mb-2">
              <p class="text-gray mb-0">Collection Name</p>
            </div>
            <p class="fw-bold text-nft-name">NFT Name Goes Here Even If It's Long #0001</p>
            <p class="text-gray text-truncate-3 mb-4">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0 fw-semi-bold d-flex align-items-center">
                <img src="../../../assets/images/pages/favorite_border_dark.svg" class="me-2 img-fluid w-auto" />66
                Likes
              </p>
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/pages/chat_bubble.png" class="me-2 img-fluid w-auto" />12 Comments
              </p>
              <p class="mb-0 fw-semi-bold">
                <img src="../../../assets/images/pages/share.svg" class="me-2 img-fluid w-auto" />24 Shares
              </p>
            </div>
          </div>
        </div>

        <div class="marketplace-box mt-4 activities">
          <div class="d-flex align-items-sm-center">
            <div>
              <img src="../../../assets/images/HomePage/placeholder.png" class="activity-img" />
            </div>
            <div class="d-flex align-items-center act-content">
              <div class="activity-user act-large">
                <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid w-auto" />
              </div>
              <div class="ms-4">
                <p class="mb-0 text-gray fs-12">
                  <b class="text-black">JohnDoe</b> liked <b>Neovichx’s</b> NFT
                </p>
                <p class="mb-0 text-gray fs-12">5 minutes ago</p>
              </div>
            </div>
          </div>
        </div>
        <div class="marketplace-box mt-4 activities">
          <div class="d-flex align-items-sm-center">
            <div class="">
              <img src="../../../assets/images/HomePage/placeholder.png" class="activity-img" />
            </div>
            <div class="d-flex align-items-center act-content">
              <div class="activity-user act-large">
                <img src="../../../assets/images/HomePage/placeholder.png" class="img-fluid w-auto" />
              </div>
              <div class="ms-4">
                <p class="mb-0 text-gray fs-12">
                  <b class="text-black">JohnDoe</b> liked your NFT
                </p>
                <p class="mb-0 text-gray fs-12">5 minutes ago</p>
              </div>
            </div>
          </div>
        </div>

        <div class="caught-up">
          <p class="mb-0">
            <img src="../../../assets/images/pages/successful.svg" style="width: 18px" class="me-4" />You’re all caught
            up.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>