<!-- privacy and policy section -->
<section>
    <div class="container">
        <div class="content">
            <h1>Privacy &#38;<span> Policy</span></h1>
            <p class="gray fs-6">Last updated on january 1, 2022</p>
            <p class=" gray py-5">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia, impedit ad eum enim optio sunt earum saepe deserunt dolore mollitia.</p>
            <div class="px-lg-4">
                <h4>Licensing Policy</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique vitae nemo delectus, deleniti ratione magnam corrupti, molestiae ducimus nisi nesciunt amet at distinctio, ipsa sapiente rerum veniam voluptas numquam minus.</p>

                <h4>Here are terms of our Standard License:</h4>
                <ul c>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quaerat nemo blanditiis reiciendis? Suscipit distinctio culpa temporibus dolor, eos commodi?</li>
                    <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto quaerat nemo blanditiis reiciendis? Suscipit distinctio culpa temporibus dolor, eos commodi?</li>
                </ul>

                <h4>If you opt for an Extended License:</h4>
                <ul>
                    <li>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magnam atque eum ipsam. Maiores sequi facilis cumque quis distinctio architecto eos.</li>
                </ul>

                <h4>Addition Policy</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia laboriosam rerum nesciunt aliquam, laudantium vel exercitationem soluta minima accusamus! Debitis provident ipsum itaque, dolor aperiam assumenda aspernatur at placeat repellendus maiores obcaecati ab quisquam vero necessitatibus quod consectetur impedit neque?</p>
            </div>
        </div>
        <div class="text-center pt-5">
            <h4 class="pb-3">Looking for something else ?</h4>
            <button class="btn btn-primary mb-3">Sumbit Request</button>
            <p class="gray">Contact us and we'll get back to you as soon as possible </p>
        </div>
    </div>
</section>