.membership-count{
  display: inline-flex;
  align-items: center;
  img{
    width: 25px;
    height: 25px;
    border-radius: 100%;
    border: 2px solid white;
    &:not(:first-child){
      margin-left: -10px;
    }
  }
}