<div class="footer-content">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <p class="text-white text-md-start text-center">Artwork by <b>John Doe</b></p>
      </div>
      <div class="col-md-4 text-center col-sm-6">
        <p class="text-white">© <b>NFTwist</b>. All rights reserved.</p>
      </div>
      <div class="col-md-4 text-sm-end col-sm-12">
        <ul class="d-flex align-items-center list-unstyled justify-content-md-end justify-content-center">
          <li class="ms-sm-4">
            <a>
              <i class="fab fa-twitter i-color"></i>
            </a>
          </li>
          <li class="ms-4">
            <a>
              <i class="fab fa-instagram i-color"></i>
            </a>
          </li>
          <li class="ms-4">
            <a>
              <i class="fab fa-discord i-color"></i>
            </a>
          </li>
          <li class="ms-4">
            <a>
              <i class="fab fa-telegram-plane i-color"></i>
            </a>
          </li>
          <li class="ms-4">
            <a>
              <i class="fab fa-youtube i-color"></i>
            </a>
          </li>
          <li class="ms-4">
            <a>
              <img src="../../../assets/images/LoginSignup/medium.svg" />
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
