<div class="auth-page two-way-factor justify-content-center">
  <div class="container">
    <div class="wallet-content">
      <div class="row align-items-center">
        <div class="col-xl-10 text-center">
          <div>
            <div class="crypto-row">
              <label></label>
              <div class="flex-grow-1 text-center">
                <h3 class="mb-lg-5 mb-sm-4 mb-2 fw-bold">Deposit Crypto</h3>
              </div>
            </div>
            <div class="crypto-row">
              <label>Select Coin</label>
              <div class="position-relative w-100">
                <span class="symbol"><img src="../../../assets/images/nft/polygon_matic.png" /></span>
                <select class="form-select ps-5 fw-bold text-center">
                  <option value="MATIC">MATIC</option>
                  <option value="MATIC">MATIC</option>
                  <option value="MATIC">MATIC</option>
                </select>
              </div>
            </div>
            <div class="crypto-row">
              <label>Select Network</label>
              <select class="form-select">
                <option value="MATIC">BSC / Binance Smart Chain (BEP20)</option>
                <option value="MATIC">BSC / Binance Smart Chain (BEP20)</option>
                <option value="MATIC">BSC / Binance Smart Chain (BEP20)</option>
              </select>
            </div>
            <div class="crypto-row">
              <label>Address:</label>
              <div class="position-relative w-100">
                <input type="text" class="form-control address-input" placeholder="Enter Address" />
                <div class="position-absolute center-icon">
                  <button class="btn-icon"><img src="../../../assets/images/pages/copy.svg" /></button>
                  <button class="btn-icon ms-3"><img src="../../../assets/images/pages/qr-code.png" /></button>
                </div>
              </div>

            </div>
          </div>
          <div class="py-lg-4">
            <div class="crypto-row">
              <label></label>
              <div class="flex-grow-1 text-center">
                <button class="btn btn-outline-secondary large mx-lg-3 mx-1 my-1">
                  Back
                </button>
                <button class="btn btn-outline-primary mx-lg-3 mx-1 large my-1">
                  <span class="gradient-text">Deposit</span>
                </button>
              </div>

            </div>

          </div>

        </div>

      </div>
      <div class="row mt-4 justify-content-center">
        <div class="col-lg-3 col-md-6 deposit-col">
          <div class="text-center">
            <p class="text-gray mb-2">Expected Arrival</p>
            <h6 class="fw-semi-bold">15 Network Confirmations</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 deposit-col">
          <div class="text-center">
            <p class="text-gray mb-2">Expected Unlock</p>
            <h6 class="fw-semi-bold">15 Network Confirmations</h6>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 deposit-col">
          <div class="text-center">
            <p class="text-gray mb-2">Minimum Deposit</p>
            <h6 class="fw-semi-bold">0.0000000001 MATIC</h6>
          </div>
        </div>
        <!-- <div class="col-lg-3 col-md-6 deposit-col">
          <div class="text-center ">
            <p class="text-gray mb-1">Selected Wallet</p>
            <select class="form-select">
              <option value="Spot Wallet">Spot Wallet</option>
              <option value="Spot Wallet">Spot Wallet</option>
            </select>
          </div>
        </div> -->
      </div>
      <div class="row mt-lg-5 mt-4">
        <div class="col-md-12">
          <div class="deposit-report">
            <img src="../../../assets/images/pages/report_gmailerror.png" />
            <p class="mb-0">1. <b>Send only MATIC</b> to this deposit address</p>
            <p class="mb-0">2. Ensure the network is <b>Binance Smart Chain (BEP20)</b></p>
          </div>
        </div>
      </div>

    </div>

  </div>

</div>