<app-banner [isLoggedIn]="isLogedIn" [profileDetail]="profileDetail"></app-banner>
<app-activities [isLoggedIn]="isLogedIn"></app-activities>
<app-newsfeed [isLoggedIn]="isLogedIn"></app-newsfeed>
<app-partners [isLoggedIn]="isLogedIn"></app-partners>
<app-partners-nft ></app-partners-nft>
<app-hot-projects></app-hot-projects>
<app-featurenews></app-featurenews>
<app-marketplace [isLoggedIn]="isLogedIn" [accountNumber]="accountNumber" [bnbValue]="bnbValue" [balance]="balance"></app-marketplace>
<app-home-modals [accountNumber]="accountNumber" [bnbValue]="bnbValue" [balance]="balance"></app-home-modals>




