<div class="auth-wrapper">
  <div class="card signup-card">
    <div class="row">
      <div class="col-md-8 pe-0">
        <div class="signup-content ">
          <h3 class="fw-bold mb-4">Payment</h3>
          <p><b>We charge 4.20 USD 15.75 (AED) as a onetime fee upon sign up</b> and you receive 2 twist credits to
            get started right away with your NFTs. Twist credits never expire!
          </p>
          <p class=" mb-4">Select your preferred method of payment to proceed:</p>
          <div class="debit-card">
            <label class="radio-container fw-normal">
              <input type="radio" name="radio" checked />
              <span class="checkmark"></span>
              <span class="label">Credit/Debit Card</span>
            </label>
          </div>
          <div class="membership-info">
            <p class="mb-1">Membership Fee</p>
            <h4 class="mb-0"><b>4.20 USD</b> / 15.75 AED</h4>
          </div>

          <div class="form-group text-center payment-info">
            <label class="radio-container fw-normal">
              <input type="radio" name="radio1" checked />
              <span class="checkmark"></span>
              By checking this box, I agree to NFTwist's <b class="text-theme">Terms</b>.
            </label>
          </div>

          <div class="form-group text-center mb-0 mt-4 pt-2 d-flex flex-wrap justify-content-between">
            <button class="btn btn-outline-secondary large me-4">
              Back
            </button>
            <a href="signup-4" class="btn btn-outline-primary large">
              <span class="gradient-text">Pay Now</span>
            </a>
          </div>

        </div>
      </div>
      <div class="col-md-4 px-0">
        <div class="buy-information">
          <div class="info">
            <h2 class="fw-bold">Why NFTwist?</h2>
            <p>
              <b>We are starting a revolution in the world of NFTs</b> by
              allowing creation, buying, selling and transfers to be extremely
              easy and cheap!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <auth-footer></auth-footer> -->