<div class="auth-page two-way-factor justify-content-center">
  <div class="container">
    <div class="wallet-content">
      <div class="row align-items-center">
        <div class="col-xl-10 text-center">
          <div>
            <div class="crypto-row">
              <label></label>
              <div class="flex-grow-1 text-center">
                <h3 class="mb-lg-5 mb-sm-4 mb-2 fw-bold">Withdraw Crypto</h3>
              </div>
            </div>

            <div class="crypto-row">
              <label>Coin</label>
              <div class="position-relative w-100">
                <span class="symbol"><img src="../../../assets/images/nft/polygon_matic.png" /></span>
                <select class="form-select ps-5 fw-bold text-center">
                  <option value="MATIC">MATIC</option>
                  <option value="MATIC">MATIC</option>
                  <option value="MATIC">MATIC</option>
                </select>
              </div>
            </div>

            <div class="crypto-row">
              <label>Address:</label>
              <div class="position-relative w-100">
                <input type="text" class="form-control address-input" placeholder="Enter Address" />
                <div class="position-absolute center-icon">
                  <button class="btn-icon"><img src="../../../assets/images/pages/copy.svg" /></button>
                  <button class="btn-icon ms-3"><img src="../../../assets/images/pages/qr-code.png" /></button>
                </div>
              </div>
            </div>
            <div class="crypto-row align-items-start">
              <label class="mt-sm-2">Network</label>
              <div class="flex-grow-1">
                <select class="form-select">
                  <option value="MATIC">BSC / Binance Smart Chain (BEP20)</option>
                  <option value="MATIC">BSC / Binance Smart Chain (BEP20)</option>
                  <option value="MATIC">BSC / Binance Smart Chain (BEP20)</option>
                </select>
                <div class="deposit-report mt-3 mb-3 mx-lg-5">
                  <img src="../../../assets/images/pages/report_gmailerror.png" />
                  <p class="mb-0 blue-bg  fw-bold">Wallet address automatically matched to corresponding network</p>
                </div>
              </div>
            </div>
            <div class="crypto-row">
              <label>Withdraw Amount</label>
              <div class="position-relative w-100">
                <input type="text" class="form-control address-input text-center" placeholder="Enter Withdraw Amount" />
                <div class="position-absolute center-icon fw-bold amount-val">
                  <span class="gradient-text max">Max</span>
                  <span>MATIC</span>

                </div>
              </div>
            </div>
            <div class="crypto-row">
              <label></label>
              <div class="d-flex align-items-center justify-content-between flex-grow-1">
                <p class="radio-container fs-14 my-0">
                  <input type="checkbox" name="radio" checked />
                  <span class="checkmark"></span>
                  Spot Wallet
                </p>
                <p class="mb-0 fw-bold mx-3">0.000000514 MATIC</p>
                <p class="mb-0">
                  <img src="../../../assets/images/pages/gradient-transfer.svg" class="me-2" />
                  <span class="gradient-text">Transfer</span>
                </p>
              </div>
            </div>
            <div class="crypto-row align-items-start mt-md-5 mt-4 pt-lg-5">
              <label class="mt-3">Receive Amount</label>
              <div class="flex-grow-1 bnb-amount-wrap">
                <h2 class="bnb-amount">0 MATIC</h2>
                <span class="deposit-report mt-sm-3 mt-2 mb-3 mx-lg-5">
                  <img src="../../../assets/images/pages/report_gmailerror.png" />
                  <p class="mb-0 blue-bg fw-bold">0.0005 MATIC Network Fee Included</p>
                </span>
              </div>
            </div>
          </div>
          <div class="py-lg-4">
            <div class="crypto-row">
              <label></label>
              <div class="flex-grow-1 text-center">
                <button class="btn btn-outline-secondary large mx-lg-3 mx-1 my-1">
                  Back
                </button>
                <button class="btn btn-outline-primary mx-lg-3 mx-1 large my-1">
                  <span class="gradient-text">Withdraw</span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>