<div class="bid-wraper auth-page two-way-factor">
  <div class="container">
    <div class="nft-details-content bid-content">
      <div class="row">
        <div class="col-lg-6 pe-lg-0">
          <img src="../../../assets/images/LoginSignup/sign_in_bg.png" class="img-fluid nft-detail-img" />
        </div>
        <div class="col-lg-6 ps-lg-0 border-lg-start">
          <div class="nft-content h-auto">
            <h3 class="mb-xl-4 mb-2 fw-bold">
              NFT Name Goes Here #0001
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut
              enim ad minim veniam, quis nostrud exercitation ullamco laboris
              nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
              in reprehenderit in voluptate velit esse cillum dolore eu fugiat
              nulla pariatur. Excepteur sint occaecat cupidatat non proident,
              sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <div class="mt-xl-5 mt-sm-4 mt-2">
              <div class="d-flex align-items-center mb-3">
                <div>
                  <img src="../../../assets/images/pages/creater.png" class="nft-content-img" />
                </div>
                <div class="ms-3">
                  <p class="mb-0">Creator / 0% Royalties:</p>
                  <h6 class="mb-0 fw-bold">
                    Neovichx
                    <img src="../../../assets/images/pages/check_tick.svg" class="ms-2 tick-icon" />
                  </h6>
                </div>
              </div>
              <div class="d-flex align-items-center mb-3">
                <div>
                  <img src="../../../assets/images/pages/collection.png" class="nft-content-img" />
                </div>
                <div class="ms-3">
                  <p class="mb-0">Collection:</p>
                  <h6 class="mb-0 fw-bold">Abstract Whatsoever</h6>
                </div>
              </div>
            </div>

          </div>
          <div class="biding-data">
            <div class="row mx-sm-0">
              <div class="col px-sm-0">
                <div class="weth-content brdr-right pl-65">
                  <div class="d-flex align-items-center mb-3">
                    <div>
                      <img src="../../../assets/images/pages/highest-bid.png" class="nft-content-img" />
                    </div>
                    <div class="ms-3">
                      <p class="mb-0">Highest bid by</p>
                      <p class="mb-0 fw-bold">
                        0x4548911413455226...
                      </p>
                    </div>
                  </div>
                  <div class="d-flex align-items-center weth-btn justify-content-between">
                    <h6 class="mb-0">0.2 <span class="ms-2"> WETH </span></h6>
                    <h6 class="mb-0 fw-normal">~$494</h6>
                  </div>
                </div>
              </div>
              <div class="col px-sm-0 pr-65">
                <div class="weth-content">
                  <p class="fw-bold">Auction ends in</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-6 pe-lg-0">
          <ul class="nav nav-pills bid-tabs" id="pills-tab" role="tablist">
            <li class="nav-item" role="presentation">
              <button class="nav-link active" id="pills-bids-tab" data-bs-toggle="pill" data-bs-target="#pills-bids"
                type="button" role="tab" aria-controls="pills-bids" aria-selected="true">Bids</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-details-tab" data-bs-toggle="pill" data-bs-target="#pills-details"
                type="button" role="tab" aria-controls="pills-details" aria-selected="false">Details</button>
            </li>
            <li class="nav-item" role="presentation">
              <button class="nav-link" id="pills-history-tab" data-bs-toggle="pill" data-bs-target="#pills-history"
                type="button" role="tab" aria-controls="pills-history" aria-selected="false">History</button>
            </li>
          </ul>
          <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-bids" role="tabpanel" aria-labelledby="pills-bids-tab">
              <div class="bid-list-wrap">
                <div class="bid-list">
                  <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
                    <div class="d-flex align-items-center flex-wrap">
                      <img src="../../../assets/images/pages/highest-bid.png" class="me-3 bid-user" />
                      <p class="mb-0">Bid <b>0.2 WETH</b> by <b>0x45489114134556226...884c</b></p>
                    </div>
                    <p class="mb-0 text-gray">10 hours ago</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
                    <div class="d-flex align-items-center flex-wrap">
                      <img src="../../../assets/images/pages/highest-bid.png" class="me-3 bid-user" />
                      <p class="mb-0">Bid <b>0.2 WETH</b> by <b>0x45489114134556226...884c</b></p>
                    </div>
                    <p class="mb-0 text-gray">10 hours ago</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
                    <div class="d-flex align-items-center flex-wrap">
                      <img src="../../../assets/images/pages/highest-bid.png" class="me-3 bid-user" />
                      <p class="mb-0">Bid <b>0.2 WETH</b> by <b>0x45489114134556226...884c</b></p>
                    </div>
                    <p class="mb-0 text-gray">10 hours ago</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
                    <div class="d-flex align-items-center flex-wrap">
                      <img src="../../../assets/images/pages/highest-bid.png" class="me-3 bid-user" />
                      <p class="mb-0">Minted by <b>John Doe</b></p>
                    </div>
                    <p class="mb-0 text-gray">10 hours ago</p>
                  </div>
                </div>

              </div>

            </div>
            <div class="tab-pane fade" id="pills-details" role="tabpanel" aria-labelledby="pills-details-tab">
              <div class="bid-list-wrap">
                <div class="bid-list">
                  <div class="row mx-0">
                    <div class="col-md-4 px-2">
                      <div class="details-box">
                        <p class="mb-2"><span class="gradient-text fw-normal">Background</span></p>
                        <h6 class="fw-bold">Shades 5</h6>
                        <p class="text-gray mb-0">3.9% rarity</p>
                      </div>
                    </div>
                    <div class="col-md-4 px-2">
                      <div class="details-box">
                        <p class="mb-2"><span class="gradient-text fw-normal">Background</span></p>
                        <h6 class="fw-bold">Shades 5</h6>
                        <p class="text-gray mb-0">3.9% rarity</p>
                      </div>
                    </div>
                    <div class="col-md-4 px-2">
                      <div class="details-box">
                        <p class="mb-2"><span class="gradient-text fw-normal">Background</span></p>
                        <h6 class="fw-bold">Shades 5</h6>
                        <p class="text-gray mb-0">3.9% rarity</p>
                      </div>
                    </div>
                    <div class="col-md-4 px-2">
                      <div class="details-box">
                        <p class="mb-2"><span class="gradient-text fw-normal">Background</span></p>
                        <h6 class="fw-bold">Shades 5</h6>
                        <p class="text-gray mb-0">3.9% rarity</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane fade" id="pills-history" role="tabpanel" aria-labelledby="pills-history-tab">
              <div class="bid-list-wrap">
                <div class="bid-list">
                  <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
                    <div class="d-flex align-items-center flex-wrap">
                      <img src="../../../assets/images/pages/highest-bid.png" class="me-3 bid-user" />
                      <p class="mb-0">Bid <b>0.2 WETH</b> by <b>0x45489114134556226...884c</b></p>
                    </div>
                    <p class="mb-0 text-gray">10 hours ago</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
                    <div class="d-flex align-items-center  flex-wrap">
                      <img src="../../../assets/images/pages/highest-bid.png" class="me-3 bid-user" />
                      <p class="mb-0">Bid <b>0.2 WETH</b> by <b>0x45489114134556226...884c</b></p>
                    </div>
                    <p class="mb-0 text-gray">10 hours ago</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
                    <div class="d-flex align-items-center flex-wrap">
                      <img src="../../../assets/images/pages/highest-bid.png" class="me-3 bid-user" />
                      <p class="mb-0">Bid <b>0.2 WETH</b> by <b>0x45489114134556226...884c</b></p>
                    </div>
                    <p class="mb-0 text-gray">10 hours ago</p>
                  </div>
                  <div class="d-flex align-items-center justify-content-between mb-2 flex-wrap">
                    <div class="d-flex align-items-center flex-wrap">
                      <img src="../../../assets/images/pages/highest-bid.png" class="me-3 bid-user" />
                      <p class="mb-0">Minted by <b>John Doe</b></p>
                    </div>
                    <p class="mb-0 text-gray">10 hours ago</p>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 ps-lg-0 border-lg-start">

          <div class="weth-amount-wrapper">
            <div class="weth-amount">
              <div class=" row align-items-center">
                <div class="col">
                  <h6 class="fw-bold text-center mb-0">0.00</h6>
                </div>
                <div class="col">
                  <select class="form-select fw-bold text-center">
                    <option value="WETH">WETH</option>
                    <option value="WETH">WETH</option>
                    <option value="WETH">WETH</option>
                  </select>
                </div>
              </div>

            </div>
            <button class="btn btn-primary w-100 mt-3">Place You Bid</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>