<div class="auth-page signup">
  <div class="auth-wrapper">
    <div class="card signup-card">
      <div class="row">
        <div class="col-md-8 pe-0">
          <div class="signup-content">
            <h3 class="fw-bold mb-3">Signing up as Buyer or Creator?</h3>
            <p class="text-gray mb-4">
              You can signup as a buyer and buy any NFT you like, to signup as a
              buyer is free. If you would like to create an NFT in the future,
              you can always purchase twist credits.
            </p>
            <a href="creater-signup">
              <div class="visible-gradient signin-box">
                <div class="row mx-0 h-100">
                  <div class="col-md-4 ps-0">
                    <img src="../../../assets/images/LoginSignup/buyer.png" class="img-fluid h-100" />
                  </div>
                  <div class="col-md-8">
                    <div class="signinby">
                      <h4 class="mb-0">
                        <span class="gradient-text">Buyer</span>
                      </h4>
                      <p class="mb-0 text-gray">Marketplace Buying & Selling</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <a href="creater-signup">
              <div class="signin-box">
                <div class="row mx-0 h-100">
                  <div class="col-md-4 ps-0">
                    <img src="../../../assets/images/LoginSignup/creator.png" class="img-fluid h-100" />
                  </div>
                  <div class="col-md-8">
                    <div class="signinby">
                      <h4 class="mb-0">Creator</h4>
                      <p class="mb-0 text-gray">Creating & Selling NFTs</p>
                    </div>
                  </div>
                </div>
              </div>
            </a>
            <div class="form-group text-center mb-0 mt-4 pt-2 d-flex flex-wrap justify-content-between">
              <button class="btn btn-outline-secondary large me-4 disabled" disabled>
                Back
              </button>
              <button class="btn btn-outline-primary large">
                <span class="gradient-text">Next</span>
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4 px-0">
          <div class="buy-information">
            <div class="info">
              <h4>Why NFTwist?</h4>
              <p>
                <b>We are starting a revolution in the world of NFTs</b> by
                allowing creation, buying, selling and transfers to be extremely
                easy and cheap!
              </p>
            </div>
            <div class="info">
              <h4>What is our membership fee?</h4>
              <p>
                <b>We charge 4.20 USD (approximately 15.75 AED) as a onetime fee
                  upon sign up</b>
                and you receive 2 twist credits to get started right away with
                your NFTs. Twist credits never expire!
              </p>
            </div>
            <div class="info">
              <h4>Are you a buyer?</h4>
              <p>
                <b>You can signup as a buyer and buy any NFT you like, to signup
                  as a buyer is free. If you would like to create an NFT in the
                  future, you can always purchase twist credits.</b>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <auth-footer></auth-footer> -->
</div>